TG_API_TOKEN="Токен бота ТГ"
VK_API_TOKEN="Токен бота ВК"
VK_PUBLICATION_TOKEN="Токен пользователя ВК для публикаций"
VK_MARKET_TOKEN="Токен пользователя ВК для маркета"
MAX_API_TOKEN="Токен бота Макса"
LOG_CHAT=ID чата логов в ТГ
ADMIN_IDS=['ID администратора', 'ID админитсратора']
PROXY="URL прокси"
VK_BOT_LINK="Ссылка на бота в ВК"
TG_BOT_LINK="Ссылка на бота в ТГ"
MAX_BOT_LINK="Ссылка на бота в Макс"
LOG_LEVEL=DEBUG
LOG_FILE="Путь к файлу логов"
LOG_FORMAT="Формат логов"
VK_GROUP_ID=ID группы в ВК
GROUP_ID=ID группы в ВК
VK_SERVICE_TOKEN="Сервисный токен ВК"
SERVICE_TOKEN="Сервисный токен ВК"
S3_BUCKET="Название s3 бакета"
S3_REGION="Регион S3"
S3_KEY="S3 ключ"
S3_SECRET="S3 секрет"
S3_ENDPOINT="URL S3 сервиса"
